#textdomain wesnoth-Grnk

# This is just the Fog Clearer code, but with team color set
[unit_type]
    id=Invisible Unit
    name=_ "dummy_unit^Invisible Unit"
    race=monster
    image="misc/blank-hex.png"
    ellipse=none
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=1
    movement_type=fly
    movement=1
    experience=1
    level=1
    alignment=neutral
    advances_to=null
    cost=1
    usage=scout
    hide_help=true
    do_not_list=yes

    # This unit hides everywhere. It can therefore be used if one wants
    # a unit whose ellipse and status bars never show up, by using it on
    # an enemy side. If desired, it can be made visible by assigning it
    # role=IU_visible.
    [abilities]
        [hides]
            id=hides_everywhere
            affect_self=yes
            [filter]
                [not]
                    role=IU_visible
                [/not]
            [/filter]
        [/hides]
    [/abilities]
[/unit_type]
